.carousel-item{
  max-height: 400px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  background-size: 30px !important;
}
.carousel-control-next-icon{
  background-image: url('https://cdn-icons-png.flaticon.com/512/32/32213.png') !important;
}
.carousel-control-prev-icon{
  background-image: url('https://cdn-icons-png.flaticon.com/512/271/271220.png') !important;
}

@media screen and (min-width: 850px){
  .collapse.navbar-collapse{
    justify-content: end;
  }
}